<nav>
  <section class="navbar">

    <div class="title1-div1 first-navbar-item" id="tableTitle">
      <a href="{% url 'table' %}" class="no-text-decoration" >
        Table
      </a>
    </div>
    <div class="title1-div1" id="listTitle">
      <a href="{% url 'list' %}" class="no-text-decoration" >
        List</a>
    </div>
    <div class="title1-div1" id="formTitle">
      <a href="{% url 'form' %}" class="no-text-decoration" >
        Form
      </a>
    </div>
    <div class="title1-div1 first-navbar-item" id="contactTitle">
      <a href="{% url 'contact' %}" class="no-text-decoration">
        Contact
      </a>
    </div>
    <div class="title1-div1" >
      <a href="{% url 'list' %}" class="no-text-decoration">
        About us
      </a>
    </div>
    <div class="title1-div1" >
      <a href="{% url 'register' %}" class="no-text-decoration">
        Registration
      </a>
    </div>
  </section>
</nav>